Mission states (s) and transitions; [you] marks where your altitude choice matters:

  start_task(11) [you] --> start_search(0) [you] --> search_{alt}
                                   |
        +--------------------------+---------------------------+
        v                          v                           v
  search_high(1) [you] <---> search_med(2) [you] <---> search_low(3) [you]    (switch = 1 step)
     |       ^                 |       ^                  |       ^
     v       |                 v       |                  v       |
  recover_high(6) [you]     recover_med(7) [you]       recover_low(8) [you]
     |                         |                          |
     +---------- found(4) <----+--------------------------+
                   |  (descend to low, switch task to follow)
                   v
  start_task(11) --> following(5) <--> recover_following(9)
                        |      \
                        |       +--> lost_pipe(12) --> start_task(11) (search again at low)
                        v
                     done(10)

Water visibility bands (water_visib) and the altitudes they allow:
{% for b in visib_bands %}
  {{ '%-8s' % b.name }} {{ '%-22s' % (b.levels | join(' ')) }} -> {{ b.allowed | join(', ') }}
{% endfor %}
