{{ '    ' ~ range(n) | join(' ') }}   <- y (column)
{% for row in grid_rows %}
{{ '%2d' % loop.index0 }}  {{ row | join(' ') }}
{% endfor %}
 ^ x (row)

Legend: S = start (0,0), 1..{{ goals | length }} = goals (visit in order), X = static obstacle, {% if cycle %}M = moving obstacle patrol path, {% endif %}. = free cell
